:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	margin: 0px;
	padding: 0px;

	height: 100vh;
}

* {
	padding: 0;
	margin: 0;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}

a:hover {
	color: #535bf2;
}



#title {
	font-size: 3em;
	margin-bottom: 20px;
}

/* sidbar */
#navbar {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	margin-left: 10px;
}

#sidebar {
	width: 100%;
	height: 100%;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-left: 32px;
}



/* sidebar for other pages */
.line {
	width: 15px;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.87);
	transition: transform 0.5s ease-in-out;
}

.line-top {
	width: 15px;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.87);
	transform: rotate(46deg) translate(-1.5px, 6px);
	transition: transform 0.5s ease-in-out;
}

.line-bottom {
	width: 15px;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.87);
	transform: rotate(-46deg) translate(-1.5px, -6px);
	transition: transform 0.5s ease-in-out;
}

#burger {
	display: flex;
	position: fixed;
	flex-direction: column;
	justify-content: space-around;
	height: 12px;
	border: none;
	background-color: transparent;
	margin: 20px 0px 10px 110px;

	transition: margin-left 0.5s ease-in-out;
	z-index: 1;

}

#burger:hover {
	cursor: pointer;
	opacity: 0.8;
}

#burger-hidden {
	display: flex;
	position: fixed;
	flex-direction: column;
	justify-content: space-around;
	height: 12px;
	border: none;
	background-color: transparent;
	margin: 20px 0px 10px 20px;

	transition: margin-left 0.5s ease-in-out;
	z-index: 1;
}

#burger-hidden:hover {
	cursor: pointer;
	opacity: 0.8;
}

#sidebar-page {
	position: fixed;
	background-color: #3c3838;
	opacity: 0.8;
	width: 130px;
	height: 80vh;
	border-bottom-right-radius: 10px;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	padding-right: 20px;
	transition: transform 0.5s ease-in-out;
}

#sidebar-page-hidden {
	position: fixed;
	transform: translateX(-100%);
	background-color: #3c3838;
	opacity: 0.8;
	width: 130px;
	height: 80vh;
	border-bottom-right-radius: 10px;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	padding-right: 20px;
	transition: transform 0.5s ease-in-out;

}

#navbar-page {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	margin-left: 25px;
	margin-top: 20px;
}

#navbar-page-hidden {
	transform: translateX(-100%);

}

.link {
	margin-bottom: 5px;
	width: auto;
}

.link:hover {
	cursor: pointer;
}

/* login */

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

/* about */

.about {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	width: 80%;
	margin: 0 auto;
}