:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	margin: 0px;
	padding: 0px;

	height: 100vh;
}

* {
	padding: 0;
	margin: 0;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}

a:hover {
	color: #535bf2;
}




/* sidbar */
#navbar {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	margin-left: 30px;
	font-size: 3em;
}

#sidebar {
	width: 100%;
	height: 100%;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-left: 32px;
}



/* sidebar for other pages */
.line {
	width: 35px;
	height: 2px;
	background-color: rgba(255, 255, 255, 0.87);
	transition: transform 0.5s ease-in-out;
}

.line-top {
	width: 35px;
	height: 2px;
	background-color: rgba(255, 255, 255, 0.87);
	transform: rotate(45deg) translate(-2px, 10px);
	transition: transform 0.5s ease-in-out;
}

.line-bottom {
	width: 35px;
	height: 2px;
	background-color: rgba(255, 255, 255, 0.87);
	transform: rotate(-45deg) translate(-2px, -10px);
	transition: transform 0.5s ease-in-out;
}

#burger {
	display: flex;
	position: fixed;
	flex-direction: column;
	justify-content: space-around;
	height: 24px;
	border: none;
	background-color: transparent;
	margin: 40px 0px 10px 190px;

	transition: margin-left 0.5s ease-in-out;
	z-index: 1;

}

#burger:hover {
	cursor: pointer;
	opacity: 0.8;
}

#burger-hidden {
	display: flex;
	position: fixed;
	flex-direction: column;
	justify-content: space-around;
	height: 24px;
	border: none;
	background-color: transparent;
	margin: 40px 0px 10px 40px;

	transition: margin-left 0.5s ease-in-out;
	z-index: 1;
}

#burger-hidden:hover {
	cursor: pointer;
	opacity: 0.8;
}

#sidebar-page {
	position: fixed;
	background-color: #3c3838;
	opacity: 0.8;
	width: 250px;
	height: 80vh;
	border-bottom-right-radius: 10px;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	padding-right: 20px;
	transition: transform 0.5s ease-in-out;
}

#sidebar-page-hidden {
	position: fixed;
	transform: translateX(-100%);
	background-color: #3c3838;
	opacity: 0.8;
	width: 250px;
	height: 80vh;
	border-bottom-right-radius: 10px;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	padding-right: 20px;
	transition: transform 0.5s ease-in-out;

}

#navbar-page {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	margin-left: 45px;
	margin-top: 20px;
	font-size: 2em;

}

#navbar-page-hidden {
	transform: translateX(-100%);
}

.link {
	margin-bottom: 5px;
	width: auto;
}

.link:hover {
	cursor: pointer;
}

/* login */

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

.loginTitle {
	font-size: 3em;
	margin-bottom: 20px;
}

/* about */

.about {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	width: 80%;
	margin: 0 auto;
}

/* title */
#user {
	font-size: 30px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-bottom: 10px;
	margin-right: 60px;
}

#userOther {
	font-size: 30px;
	position: absolute;
	bottom: 20px;
	left: 45px;
}

#title {
	font-size: 5em;
}

.titleContainer {

	display: flex;
	margin-bottom: 20px;
	justify-content: space-between;
}